@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --white: #fff;
    --body: #fff7da;
    --searchclr: #A9CAF0;
    --yellowhdr: #ffd63c;
    --black: #000000;
    --white: #ffffff;
    --blueline: #3c5aa6;
    --gelo: #849ebc;
    --grama: #55936c;
    --lutador: #5e646a;
    --veneno: #836e9b;
    --homehover: #ddb834;
    --gelohover: #6a7e96;
    --gramahover: #467958;
    --lutadorhover: #4b5055;
    --venenohover: #68577a;
    --cardgrama: #a9f0e2;
    --backgrama: #3ca663;
    --backlutador: #2f374d;
    --cardlutador: #777f87;
    --backveneno: #3f377d;
    --cardveneno: #966fc5;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.searchbar {
    background-color: var(--searchclr);
    gap: 100px;
    width: fit-content;
    padding: 8px;
    border-radius: 10px;
}

header input {
    border: none;
    background-color: var(--searchclr);
    width: 656px;
}

header img {
    width: 375px;
}

i#menu, i#user {
    width: 32px;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--yellowhdr);
    padding: 10px;
}

.buttontop { 
    margin: 40px 100px 50px;
}

.buttontop ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.buttontop li { 
    text-align: center;
    padding: 10px;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttontop a { 
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
}

.buttontop li#gelo {
    background-color: var(--gelo);
}
.buttontop li#gelo:hover {
    background-color: var(--gelohover);
}
.buttontop li#grama {
    background-color: var(--grama);
}
.buttontop li#grama:hover {
    background-color: var(--gramahover);
}
.buttontop li#home {
    background-color: var(--yellowhdr);
}
.buttontop li#home:hover {
    background-color: var(--homehover);
}
.buttontop li#lutador {
    background-color: var(--lutador);
}
.buttontop li#lutador:hover {
    background-color: var(--lutadorhover);
}
.buttontop li#veneno {
    background-color: var(--veneno);
}
.buttontop li#veneno:hover {
    background-color: var(--venenohover);
}

footer {
    padding: 60px;
    background-color: var(--yellowhdr);
}

footer ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 30px;
}

footer li {
    margin-right: 15px;
    padding: 5px;
    width: 175px;
    border-radius: 10px;
}

footer a:hover {
    color: var(--blueline);
    transition: color 0.4s;
}

footer a {
    color: var(--black);
    text-decoration: none;
}

.cntct h1 {
    border-bottom: 4px solid var(--blueline);
    padding-bottom: 15px;
}

.cont {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.cont1,
.cont2 {
    display: flex;
    gap: 8px;
    margin-top: 15px;
}

.contact h6 {
    font-size: 14px;
}

.contact {
    margin-top: 20px;
}

.cats h2,
.sercli h2 {
    border-bottom: 4px solid var(--blueline);
    padding-bottom: 15px;
}

.foot {
    display: flex;
    justify-content: space-evenly;
}

.catser {
    display: flex;
    gap: 30px;
}

.cpry {
    text-align: center;
    border-top: 4px solid var(--blueline);
    margin-top: 20px;
    padding-top: 15px;
    font-size: 10px;
}