:root{
    --white: #fff;
    --body: #fff7da;
    --searchclr: #A9CAF0;
    --yellowhdr: #ffd63c;
    --black: #000000;
    --white: #ffffff;
    --blueline: #3c5aa6;
}

body {
    background-color: var(--body);
}

.firstimgs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.firstimgs img {
    width: 507px;
}

.h1img {
    position: absolute;
    text-align: center;
    color: var(--white);
    background-color: rgba(178, 54, 47, 0.85);
    padding: 8px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

#text {
    margin: 0 100px 40px 100px;
    padding-bottom: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 4px solid var(--yellowhdr);
}