:root {
    --white: #fff;
    --body: #fff7da;
    --searchclr: #A9CAF0;
    --yellowhdr: #ffd63c;
    --black: #000000;
    --white: #ffffff;
    --blueline: #3c5aa6;
    --gelo: #849ebc;
    --grama: #55936c;
    --lutador: #5e646a;
    --veneno: #836e9b;
    --homehover: #ddb834;
    --gelohover: #6a7e96;
    --gramahover: #467958;
    --lutadorhover: #4b5055;
    --venenohover: #68577a;
    --cardgrama: #a9f0e2;
    --backgrama: #3ca663;
    --backlutador: #2f374d;
    --cardlutador: #777f87;
    --backveneno: #3f377d;
    --cardveneno: #966fc5;
}

body {
    background-color: var(--body);
}

.firstimgs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.firstimgs img {
    width: 507px;
}

.h1img {
    position: absolute;
    text-align: center;
    color: var(--white);
    background-color: rgba(178, 54, 47, 0.85);
    padding: 8px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

#text {
    margin: 0 100px 40px 100px;
    padding-bottom: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 4px solid var(--yellowhdr);
}

.types { 
    border-bottom: 4px solid var(--yellowhdr);
    margin-bottom: 40px;
    padding-bottom: 40px;
    margin: 0 100px 50px;
}
.types h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.types ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.types li { 
    text-align: center;
    padding: 10px;
    width: 280px;
    height: 90px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.types li#gelo {
    background-color: var(--gelo);
}
.types li#gelo:hover {
    background-color: var(--gelohover);
}
.types li#grama {
    background-color: var(--grama);
}
.types li#grama:hover {
    background-color: var(--gramahover);
}
.types li#lutador {
    background-color: var(--lutador);
}
.types li#lutador:hover {
    background-color: var(--lutadorhover);
}
.types li#veneno {
    background-color: var(--veneno);
}
.types li#veneno:hover {
    background-color: var(--venenohover);
}

p#text1 {
    margin: 0 100px 40px 100px;
    padding-bottom: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.types a { 
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
}

.team h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.cards{
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.card img{
    background-color: #000000;
    padding: 10px;
    border-radius: 10px;
    width: 170px;
    margin-bottom: 10px;
}
.card {
    text-align: center;
}